@import url('https://fonts.googleapis.com/css?family=Lato');

@import "~bootstrap/scss/bootstrap.scss";

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.background {
    background-image: url("/src/assets/header-bg.png");
    background-repeat: repeat;
    &__content {
        background-color: #ffffff;
       
    }
}
.tail {
    border: 1px solid #c0c0c0;
    border-bottom: 0px;
    
}

.line {
    margin: 10px;
    &--dotted {
    border-top: 5px dotted silver;
}
    &--solid {
    border-top: 5px solid #808080;

}
.header--footer {
    color: #ffffff;
}


}
