@import url('https://fonts.googleapis.com/css?family=Lato');
@import "~bootstrap/scss/bootstrap.scss";
body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    margin-bottom: 35px;
}

.background {
    &__main {
        background-image: url('~assets/header-bg.png');
        background-repeat: repeat;
        color: white;
        padding-top: 10px;
    }
    &__content {
        background-color: #ffffff;
        color: #6e6e6e; //margin: -15px -15px 40px -15px;
    }
}
.main-photo {
   position: absolute;
    margin-top: 100px;
}
.tail {
    border: 1px solid #c0c0c0;
    border-bottom: 0px;
}

.stripe {
    height: 12px;
    background: repeating-linear-gradient( -50deg, #cecece, #cecece 2px, #fff 2px, #fff 5px);
    &--tails {
        width: 90%;
        margin-bottom: 10px;
    }
}

.line {
    &--solid {
        border-top: 1px solid #808080;
        margin: 20px 0 25px 0;
    }
    .header--footer {
        color: #ffffff;
    }
}
.nav__form {
    border: opx solid #ccc;
    border-radius: 122px;;
    box-shadow: inset -5px 8px 5px -6px rgba(0,0,0,0.56);
    background-color:#2f2f2f;
    background-image: url('~assets/search-13-24.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
   
}
.widget {
    &__image {
        margin: 7px;
    }
}

.container-fluid--custom {
    padding-left: -15px !important;
    padding-right: -15px !important;
}

.footer {
    &__background--color {
        opacity: 0.3;
    }
}
.img--hoovered {
    position: relative;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.img--hoovered:hover span.text-content {
  opacity: 1;
}



@include media-breakpoint-up(sm) {
    .extra-spacing {
        height: 72px;
    }
    .tail {
        margin-top: -32px;
    }
    .recent__picture {
        &--bottom--space {
            margin-bottom: 28px;
        }
        &--top--space {
            margin-top: 35px;
        }
    }
    .logo--align--sm {
        text-align: center;
    }
}

@include media-breakpoint-up(md) {
    .extra-spacing {
        height: 102px;
    }
    .tail {
        margin-top: -69px;
        flex: 0 0 48%;
        max-width: 49%;
        &--md {
            margin-top: 30px;
        }
    }
    .recent__picture {
        &--bottom--space {
            margin-bottom: 27px;
        }
        &--bottom--space--down {
            margin-bottom: 100px;
        }
        &--top--space {
            margin-top: 32px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .extra-spacing {
        height: 142px;
    }
    .tail {
        margin-top: -60px;
        flex: 0 0 23%;
        max-width: 25%;
    }
    .recent__picture {
        &--bottom--space {
            margin-bottom: 50px;
        }
        &--top--space {
            margin-top: 32px;
        }
    }
}