@import url('https://fonts.googleapis.com/css?family=Lato');
@import "~bootstrap/scss/bootstrap.scss";
body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    margin-bottom: 35px;
}

.background {
    &__main {
        background-image: url('~assets/header-bg.png');
        background-repeat: repeat;
        color: white;
        padding-top: 10px;
    }
    &__content {
        background-color: #ffffff;
        color: #6e6e6e; //margin: -15px -15px 40px -15px;
    }
}

.tail {
    border: 1px solid #c0c0c0;
    border-bottom: 0px;
}

.stripe {
    height: 12px;
    background: repeating-linear-gradient( -50deg, #cecece, #cecece 2px, #fff 2px, #fff 5px);
    &--tails {
        width: 90%;
        margin-bottom: 10px;
    }
}

.line {
    &--solid {
        border-top: 1px solid #808080;
        margin: 20px 0 25px 0;
    }
    .header--footer {
        color: #ffffff;
    }
}

.nav-link--color {
    color: #ffffff;
    padding: 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    ;
}

.nav-link--color:active {
    border: 0px solid #ccc;
    border-radius: 6px;
    box-shadow: inset -5px 8px 5px -8px rgba(0, 0, 0, 0.56);
    background-color: #2f2f2f;
    padding: 12px 20px 12px 20px;
}

.nav__item {
    color: #ffffff;
}

.nav__form__search {
    border: 0px solid #ccc;
    border-radius: 122px;
    box-shadow: inset -5px 8px 5px -6px rgba(0, 0, 0, 0.56);
    background-color: #2f2f2f;
    background-image: url('~assets/search-13-24.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.widget {
    &__image {
        margin: 7px;
    }
}

.container-fluid--custom {
    padding-left: -15px !important;
    padding-right: -15px !important;
}

.footer {
    &__background--color {
        opacity: 0.3;
    }
}

.img {
    &--hoovered {
        position: relative;
        width: 100%;
        height: 100%;
        &__loupe--position {
            width: 30%;
            height: auto;
            margin: 0 auto;
            position: relative;
            transform: translateY(90%);
        }
    }
}

div.text-content {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    cursor: pointer;
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 500ms;
    img {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

.img--hoovered:hover div.text-content {
    opacity: 1;
}

.full-image {
    width: 100%;
    height: auto;
}

@include media-breakpoint-up(xs) {
    .main-photo {
        position: absolute;
        margin-top: -69%;
        opacity: 0.2;
        transform: translateX(45%);
        &--size-sm {
            width: 60%;
        }
    }
    .extra-spacing {
        height: 72px;
    }
    .tail {
        margin-top: -32px;
        &--sm {
            margin-top: 30px;
        }
    }
    .logo--align--sm {
        text-align: center;
    }
    .carousel-block {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    .main-photo {
        position: relative;
        margin-top: -10%;
        opacity: 1;
        transform: initial;
        &--size-sm {
            width: auto;
        }
    }
    .extra-spacing {
        height: 102px;
    }
    .tail {
        margin-top: -69px;
        flex: 0 0 48%;
        max-width: 49%;
        &--md {
            margin-top: 30px;
        }
    }
    .carousel-indicators {
        position: absolute;
        right: -262px;
        bottom: -58px;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }
}

@include media-breakpoint-up(lg) {
    .main-photo {
        position: absolute;
        margin-top: 50px;
        opacity: 1;
        transform: inherit;
    }
    &--size-sm {
        width: 100%;
    }
    .extra-spacing {
        height: 142px;
    }
    .tail {
        margin-top: -60px;
        flex: 0 0 23%;
        max-width: 25%;
    }
    .carousel-indicators {
        position: absolute;
        right: -449px;
        bottom: -509px;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }
}